@model CzSharp.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Model.Article.Id == default(int) ? "Nový článek" : Model.Article.Title;
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(a => a.Article.Title)
                @Html.EditorFor(a => a.Article.Title, new { htmlAttributes = new { @class="form-control"} })
                <div class="invalid-feedback">@Html.ValidationMessageFor(a => a.Article.Title)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Article.Content)
                @Html.TextAreaFor(a => a.Article.Content, new { htmlAttributes = new { @class="form-control"} })
                <div class="invalid-feedback">@Html.ValidationMessageFor(a => a.Article.Content)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Article.Category)
                @Html.DropDownListFor(a => a.Article.Category, Model.Categories,new {  @class="form-control" })
                <div class="invalid-feedback">@Html.ValidationMessageFor(a => a.Article.Content)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Article.Tags)
                @Html.DropDownListFor(a => a.Article.Tags, Model.Tags,new {  @class="form-control" })
                <div class="invalid-feedback">@Html.ValidationMessageFor(a => a.Article.Tags)</div>
            </div>
            <button type="submit" class="btn btn-success">@(Model.Article.Id == default(int) ? "Přidat" : "Upravit")</button>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/tinymce/tinymce.min.js"></script>
}