@model IEnumerable<CzSharp.ViewModels.UserWithRolesViewModel>
@{
    ViewBag.Title = "Uživatelé";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Uživatelské jméno</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Aktivní</th>
        <th>Akce</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.User.Id</td>
            <td>@user.User.UserName</td>
            <td>@user.User.Email</td>
            <td>@string.Join(",", user.UserRoles)</td>
            <td>
                @if (@user.User.EmailConfirmed)
                {
                    <span class="badge badge-success">Aktivní</span>
                }
                else
                {
                    <span class="badge badge-warning">Neaktvní</span>
                }
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    @if (!user.User.EmailConfirmed)
                    {
                        <a class="btn btn-success text-light" data-toggle="tooltip" title="Potvrdit email" href="@Url.Action("Activate", new { id = user.User.Id})">
                            <i class="fa fa-unlock-alt"></i>
                        </a>
                    }
                    <a class="btn btn-primary text-light" data-toggle="tooltip" title="Upravit">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-danger text-light" data-toggle="tooltip" title="Odstranit" data-confirm="Opravdu chcete odstranit tohoto uživatele?" href="@Url.Action("Delete", new { id = user.User.Id })">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>
